<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <title>Macra Store</title>
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" href="/scripts/icons/css/all.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg pd-navbar">
	  <div class="container justify-space-between">
	    <a class="navbar-brand finally-nav" href="#">MACRA STORE</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	      <ul class="navbar-nav ml-auto">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="#">HOMBRE <i class="fa-solid fa-chevron-down"></i></a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#">MUJER <i class="fa-solid fa-chevron-down"></i></a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#">Otros Accesorios <i class="fa-solid fa-chevron-down"></i></a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
    {{{body}}}
    <footer>
        <nav class="footer-navbar">
            <div class="final-container">
                <a href="/"><i class="fa-solid fa-house-chimney"></i></a>
                <a href="/shopping"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a>
                <a href="/account"><i class="fa-regular fa-user"></i></a>
            </div>
        </nav>
    </footer>
    <script src="/scripts/bootstrap.js"></script>
    <script src="/scripts/icons/js/all.js"></script>
    <script src="/scripts/scrollreveal.js"></script>
    <script src="/scripts/default.js"></script>
</body>

</html>