<div class="text-center super-jumbotron">
	<div class="overlay">
		<h1>¡Bienvenidos a MACRA STORE!</h1>
	</div>
</div>
<br>
<div class="container">
	<h4>Camisetas</h4>
	<div class="card-group-simple">
	  <div class="card">
	    <img src="/img/background.jpg" class="card-img-top" alt="...">
	    <div class="card-body">
	      <h5 class="card-title">Polo Velez</h5>
	      <p class="card-text">$ 125,000 COP</p>
	      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
	    </div>
	  </div>
	  <div class="card">
	    <img src="/img/background.jpg" class="card-img-top" alt="...">
	    <div class="card-body">
	      <h5 class="card-title">Polo Velez</h5>
	      <p class="card-text">$ 125,000 COP</p>
	      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
	    </div>
	  </div>
	  <div class="card">
	    <img src="/img/background.jpg" class="card-img-top" alt="...">
	    <div class="card-body">
	      <h5 class="card-title">Polo Velez</h5>
	      <p class="card-text">$ 125,000 COP</p>
	      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
	    </div>
	  </div>
	</div>
</div>

<br><br><br>